body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(91, 114, 114);
    padding: 20px;
}

.title {
    color: rgb(34, 46, 56)
}

.entryContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 4;

}

input {
    padding: 8px;
    font-size: 16px;
}

#myButton {
    padding: 10px 18px;
    font-size: 16px;
    background-color: orange;
    border: none;
    cursor: pointer;
}

#myButton:hover {
    background-color: darkorange;
}

#submitButton {
    padding: 10px 18px;
    font-size: 16px;
    background-color: orange;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}

#submitButton:hover {
    background-color: darkorange;
}


